<script type="text/javascript" src="//cdn.jsdelivr.net/particle-api-js/6/particle.min.js"></script>

<div id="template" class="well">
    <h2>Particle Config</h2>
    <p class="help-text">Here you can define custom Particle events for each step of the build process. Each action requires an access token and device ID.</p>
    <p>Tokens can be entered manually, or you can use your Particle login credentials to read devices directly from your account.</p>

    <h3>Account Login</h3>
      <div class="row-fluid">
        <div class="span12">
          <form class="form-inline">
            <input ng-model="config.email" type="text" class="input-small" placeholder="Email">
            <input ng-model="config.password" type="password" class="input-small" placeholder="Password">
            <label class="checkbox">
              <input ng-model="config.rememberUser" type="checkbox"> Remember me
            </label>
            <button type="submit" class="btn btn-primary" ng-click="login()">Sign in</button>
          </form>
        </div>
      </div>


    <h3>Environment</h3>
    <div class="row-fluid">
        <div class="span12">
            <textarea ui-refresh="selectedTab" ng-model="config.environment"></textarea>
        </div>
    </div>
    <br/>
    <h3>Prepare</h3>
    <div class="row-fluid">
        <div class="span12">
            <textarea ui-refresh="selectedTab" ng-model="config.prepare"></textarea>
        </div>
    </div>
    <br/>
    <h3>Test</h3>
    <div class="row-fluid">
        <div class="span12">
            <textarea ui-refresh="selectedTab" ng-model="config.test"></textarea>
        </div>
    </div>
    <br/>
    <h3>Deploy</h3>
    <div class="row-fluid">
        <div class="span12">
            <textarea ui-refresh="selectedTab" ng-model="config.deploy"></textarea>
        </div>
    </div>
    <br/>
    <h3>Cleanup</h3>
    <div class="row-fluid cleanup">
        <div class="span12">
            <textarea ui-refresh="selectedTab" ng-model="config.cleanup"></textarea>
        </div>
    </div>
    <button ng-click="save()" class="btn btn-primary">Save</button>
</div>
